p{
color : blue;
}

#row{
}

#red {
    height:100px;
    width:100px;
    background-color:#FF0000;
}

#element{
	width:240px;
	background-image:url("http://i.imgur.com/6iDASoS.jpg");
}

#element_click{
	content:url("http://imgur.com/DiTkjLW.jpg");
	width:240px;
}
